.pending .status-message {
  animation-name: fade;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-style: italic;
}

.pending .status-icon {
  display: inline-block;
  width: 1em;
  height: 1em;

  &:after {
    content: " ";
    display: block;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    border: 2px solid black;
    border-color: black transparent black transparent;
    animation: spin 1200ms linear infinite;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
